<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Image Search Abstraction Layer</h1>
        <code>[Powered by Google]</code>
        <p>Search Example:</p>
        <a href="https://4-image-search-abstraction-layer-fcc-ivan.glitch.me/_api/image_search/?search=cats%20funny&offset=1">
          https://4-image-search-abstraction-layer-fcc-ivan.glitch.me/_api/image_search/?<span style="color: red; font-weight: bold;">search=cats%20funny</span>&<span style="color: green; font-weight: bold;">offset=1</span></a>
        <p>List of the most recently submitted search strings:</p>
        <a href="https://4-image-search-abstraction-layer-fcc-ivan.glitch.me/_api/latest/">https://4-image-search-abstraction-layer-fcc-ivan.glitch.me/_api/latest/</a>
        <h3>GitHub Repo: <a href="#">LINK</a></h3>
      </div>
   </body>

</html>
